include ../mixins/button.pug
include ../mixins/input.pug

form.mail-form
    .form-title
        span.second-title Weekly digest 
    .form-description
        span Latest news in DAOs and Web3
    .form-actions
        .form-input
            +input('Your email')
        +button('#CEAAFF', 'Subscribe')

