include ../mixins/button.pug
include ../mixins/input.pug

form.mail-form
    .mail-form__form-title
        span.second-title Weekly digest 
    .mail-form__form-description
        span Latest news in DAOs and Web3
    .mail-form__form-actions
        .mail-form__form-input
            +input('Your email')
        +button('#CEAAFF', 'Subscribe')

