.tooltip
    .tooltip-item
        .tooltip-icon
            img(src="images/doc-icon.png", alt="doc icon")
        .tooltip-text 
            span Privacy Policy
    .tooltip-item
        .tooltip-icon
            img(src="images/doc-icon.png", alt="doc icon")
        .tooltip-text 
            span Privacy Policy