.button{
    border-radius: 16px;
    display: inline-block;
    padding: 16px 35px;
    cursor: pointer;
    transition: .3s ease-in-out opacity;

    &:hover{
        opacity: 0.6;
    }
    
    span{
        color: $black;
        font-size: 20px;
        font-weight: 600;
        line-height: 36px;
    }
}