.card{
    padding: 30px;
    background-color: $dark-blue;
    border-radius: 20px;
    border: 2px solid $grey-2;
    max-width: 361px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.card-logo{
    max-width: 50px;
    height: 50px;
    width: 100%;
    border-radius: 8px;
    font-size: 0;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.card-title{
    margin-top: 21px;
}

.card-description{
    margin-top: 18px;
    margin-bottom: 34px;
}

.card-title{
    color: $white;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
}

.card-description{
    color: $grey-5;
    font-size: 17px;
    font-weight: 600;
    opacity: 0.8;
    line-height: 29px;
}

.card-all{
    margin-top: auto;
    display: flex;
    align-items: center;
    column-gap: 8px;
    cursor: pointer;

    &:hover{
        .link-arrow{
            transform: translateX(10px);
        }
    }
}

.card-link{
    font-size: 16px;
    font-weight: 700;
    color: $white;
}

.link-arrow{
    font-size: 0;
    width: 13px;
    height: 12px;
    transition: .3s ease-in transform;

    img{
        width: 100%;
        object-fit: cover;
    }
}