section.backed
    .backed__list
        .backed__row
            img(src="/images/backed/Logo_2.png", alt="card")
            img(src="/images/backed/Logo_3.png", alt="card")
            img(src="/images/backed/Logo_4.png", alt="card")
            img(src="/images/backed/Logo_5.png", alt="card")
            img(src="/images/backed/Logo_4.png", alt="card")
            img(src="/images/backed/Logo_5.png", alt="card")
        .backed__row
            img(src="/images/backed/Logo_2.png", alt="card")
            img(src="/images/backed/Logo_6.png", alt="card")
            img(src="/images/backed/Logo_3.png", alt="card")
            img(src="/images/backed/Logo_5.png", alt="card")
            img(src="/images/backed/Logo_4.png", alt="card")
            img(src="/images/backed/Logo_4.png", alt="card")