- var footerLinks = [{ href: "#", text: "About", class: "link" },{ href: "#", text: "Jobs", class: "link" },{ href: "#", text: "Legal", class: "link" }]

- var socialLinks = [{ href: "#", src: "images/twitter.png", class: "social-link" },{ href: "#", src: "images/telegram.png", class: "social-link" },{ href: "#", src: "images/youtube.png", class: "social-link" },{ href: "#", src: "images/discord.png", class: "social-link" }]

footer.footer
    .container.footer-container
        a.logo(href='#')
            img(src='images/Logo.svg', alt='logo')
        .links
            each link in footerLinks
                a(href=link.href, class=link.class)= link.text
        .socials 
            each link in socialLinks
                a(href=link.href, class=link.class)
                    img(src=link.src)