section.started    
    .started__title 
        h1.main-title. 
            The easiest way <br>
            to start a DAO
    .started__description
        span. 
            An all-in-one platform to start, manage and grow <br>
            a decentralized autonomous organization 
    .yellow-btn.started__yellow-btn
        span Get started
    .double-arrows.started__double-arrows 
        img(src="images/double_arrows.svg", alt="double_arrows")
