- var persons = ['person-1', 'person-2', 'person-3', 'person-4', 'person-5'];
- var steps = ['Success managers', 'Knowledge base', 'Chat support', 'Tutorials', 'Templates', 'Smart Contract development', 'Events', 'Education', 'Guides'];

.help
    .help-title 
        h2.second-title Help at every step
    .team-list
        each person in persons
            .person-img
                img(src=`images/${person}.png`, alt="person")

    .steps-list
        each step in steps
            .step
                .step-star
                span.step-text #{step}