section.tools 
    .tools-title 
        h2.second-title All the tools in one app
        .tools-sparks 
            img(src="images/stars_3.svg", alt="sparks")
    .tools-list 
        .tools-item
            span NFT membership
        .tools-item
            span Member directory
        .tools-item
            span Treasury
        .tools-item
            span Feed
        .tools-item
            span Governance
        .tools-item
            span App store
    .swiper 
        .swiper-wrapper 
            .swiper-slide хуй
            .swiper-slide хуй
            .swiper-slide хуй