- var worksList = [{ image: "eth.png", text: "Ethereum", alt: "crypto" }, { image: "poly.png", text: "Polygon", alt: "crypto" }, { image: "gnosis.png", text: "Gnosis", alt: "crypto" }, { image: "snap.png", text: "Snap", alt: "crypto" }, { image: "ens.png", text: "ENS", alt: "crypto" }, { image: "oepnsea.png", text: "OpenSea", alt: "crypto" }];
.works 
    .works-title 
        h2.second-title Works with 
    .works-list 
        each work in worksList
            .works-item
                .works-area
                    .works-image 
                        img(src=`images/${work.image}`, alt=work.alt)
                .works-text
                    span #{work.text}