* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

body {
  font-family: "Montserrat";
  background-color: $bg;
  color: $white;
  font-weight: 500;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: $white;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}

.main{
  flex: 1;
}

.main-title{
  font-size: 72px;
  font-weight: 700;
  line-height: 82px;
  letter-spacing: 1px;
}

.second-title{
  font-weight: 700;
  font-size: 54px;
  line-height: 80px;
  color: $grey-light;
}

.cards-list{
  margin-top: 28px;
  display: flex;
  align-items: stretch;
  column-gap: 28px;
}

.cards-all{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  column-gap: 10px;
  cursor: pointer;

  &:hover{
    .cards-arrow{
      transform: translateX(10px);
    }

    span{
      color: $white;
    }
  }

  span{
    font-size: 22px;
    font-weight: 700;
    line-height: 40px;
    color: $grey-6;
    text-shadow: 0px 2px 25px rgba(0, 0, 0, 0.60);
    transition: .3s ease-in color;
  }
}

.cards-arrow{
  font-size: 0;
  transition: .3s ease-in transform;
}