extends layouts/base.pug

block content 
    include includes/getStarted.pug
    include includes/ready.pug
    include includes/designed.pug
    include includes/tools.pug
    include includes/works.pug
    include includes/help.pug
    include includes/digest.pug
    include includes/podcasts.pug

