mixin card(logoUrl, title, descr, link, linkText)
    .card 
        .card-logo
            img(src="images/podc-icon.png", alt="icon")
        .card-title
            span Understanding DAOs with Yury Lifshits 
        .card-description
            span. 
                The Pomp Podcast <br>
                by Anthony Pompliano
        .card-all
            a.card-link(href="#") link 